<?xml version="1.0"?>

<model>
  <name>Planet</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Luigi Ferraioli</name>
    <email>luigi.ferraioli@alumni.fh-aachen.de</email>
  </author>

  <description>
    Example for import custom images
  </description>
</model>
